* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-weight: bold;
}

// Global Styles
.bar {
  min-height: 12px;
  padding: 5px;
  background-color: #3a3a3a;
  color: #b0b4bc;
}

// Styles on classes (see eww.yuck for more information)
.workspaces button {
  min-width: 12px;
  min-height: 12px;
  border-width: 2;
  border-radius: 100%;
  border-style: solid;
  margin: 2 4 2 4;
  font-size: 0;
}

.workspaces button:hover {
  background-color: #b0b4bc;
}

.music {
  font-size: 100%; 
}
