**/chromium/**
**/htop/**
**/yay/**
**/awesome/themes/default/**
**/awesome/themes/gtk/**
**/awesome/themes/sky/**
**/awesome/themes/xresources/**
**/awesome/themes/zenburn/**
**/zsh/plugins/**
**/zsh/.zcompdump
**/obsidian/**
**/pulse/**
**/dconf/**
