/*
!.gitignore

!arch_download_fonts.sh

!ghostty
ghostty/local

!niri

!nvim
nvim/lazy-lock.json
nvim/lazyvim.json

!systemd
systemd/*
!systemd/user
systemd/user/*
!systemd/user/udiskie.service
!systemd/user/noctalia*

!test-fonts.sh

!zsh
zsh/.zcompdump
zsh/plugins
