/*
!.gitignore

!arch_download_fonts.sh

!ghostty
ghostty/local

!hypr
hypr/local/*

!niri

!nvim
nvim/lazy-lock.json
nvim/lazyvim.json

!rofi

!systemd
systemd/*
!systemd/user
systemd/user/*
!systemd/user/udiskie.service
!systemd/user/awww*

!test-fonts.sh

!waybar

!zsh
zsh/.zcompdump
zsh/plugins
