[Unit]
Description=Set wallpapers (normal + blurred overview)
After=awww-daemon.service awww-daemon-overview.service
Requires=awww-daemon.service awww-daemon-overview.service

[Service]
Type=oneshot
ExecStart=~/.config/systemd/awww-set-wallpapers.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
